.card-widget.card-weather-memphis
  .header
    .location 加载中...
    .date-time --
    .refresh-btn(title='刷新') &#x21bb;
  .main-info
    .weather-icon
    .temperature --
    .weather-desc.weather-now --
    .weather-desc.weather-range --
  .air-quality
    .air-quality-title -- 